Brotli
certifi
charset-normalizer
click
dash
dash-bootstrap-components
dash-core-components
dash-daq
dash-html-components
dash-table
Flask
Flask-Compress
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
plotly
pyngrok
python-dateutil
pytz
PyYAML
qrcode
pillow
requests
six
tenacity
urllib3
Werkzeug
zipp
