body{
    height: 100%;
    background: linear-gradient(90deg, rgb(18, 140, 126) 0%, rgb(7, 94, 84) 100%);
}
.card{
    position: center;
    width: 18rem;
    display: center;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3px solid #25D366;
    border-radius: .25rem;
  }
  .card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
  }
  .btn{
    border: 3px solid #34B7F1;
    border-radius: .25rem;
  }