<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block title %}{% endblock %}</title>
    <link href='{{ url_for("static", filename="css/bootstrap.min.css") }}' rel="stylesheet">
    <link href='{{ url_for("static", filename="css/core.css") }}' rel="stylesheet">
  </head>
<body>  
<main>
{% block content %}{% endblock %}
</main>
<div class="container-fluid">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-white">© 2022 FakeWhatsapp++</span>
    </div>
  </footer>
  <script src='{{url_for("static", filename="js/bootstrap.bundle.min.js") }}'></script>
</body>
</html>