{% extends 'base.html' %}

{% block title %}
  Descarga la aplicación |
{% endblock %}

{% block content %}
<center><br>
  <main class="container-fluid">
    <div class="card">
      <img src='{{ url_for("static", filename="img/logo.png") }}' class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Fake WhatsApp Plus Android</h5>
        <p class="card-text">Descarga o actualiza a la última versión el APK de WhatsApp Plus para Android. Con todas sus funciones adicionales es el mejor MOD de WhatsApp de 2022.</p>
        <a href="/download" class="btn btn-success">Descargar</a><br>
        <p class="card-text">
          WhatsApp Plus es un MOD de WhatsApp, una app resultante de tomar el código fuente original, modificarlo y volver a compilarlo con el mismo nombre de paquete. Esas modificaciones le aportan una serie de características y funciones nuevas que permiten a los atacantes obtener acceso a tu información personal.
        </p>
      </div>
    </div>
  </main>
</center>
{% endblock %}
